@import 'conf/conf';

$text-color: #ffffff;


.auth-main {
  display: flex;
  align-items: center;
  top:200px;
  left:200px;
  bottom:50px;
  width:800px;
  position: absolute;
}

.auth-block {
  width: 540px;
  margin: 0 auto;
  border-radius: 5px;
  @include bg-translucent-dark(0.55);
  color: #fff;
  padding: 32px;
  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }

  .control-label {
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

.form-control#inputDescription{
  width:500px;
  height: 100px;
}
.auth-input {
  width: 300px;
  margin-bottom: 24px;
  input {
    display: block;
    width: 40px;
    height: 100px;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
  }
}

.btn btn-default btn-auth#submitButton{
  left:500px;
}
.btn-auth {
  color: #ffffff!important;
}


