# See http://help.github.com/ignore-files/ for more about ignoring files.
.DS_Store

# compiled output
internHub/dist
internHub/tmp

# dependencies
internHub/node_modules
internHub/bower_components

# IDEs and editors
internHub/.idea

# misc
internHub/.sass-cache
internHub/connect.lock
internHub/coverage/*
internHub/libpeerconnection.log
internHub/npm-debug.log
internHub/testem.log
internHub/typings

# e2e
internHub/e2e/*.js
internHub/e2e/*.map

#System Files
internHub/.DS_Store
